<mat-toolbar class="main-toolbar" color="primary">
  <mat-toolbar-row>
    <span routerLink="/">{{about?.name}} Schedule</span>
    <span class="toolbar-spacer"></span>
    @if (isHidden()) {
      <button mat-button (click)=toggleShowBookmarkedPanels()>
        @if (bookmarkStatus.showOnlyBookmarked) {
          <mat-icon class="bookmark-icon" aria-hidden="false" aria-label="Showing bookmarks. Select to show all panels.">star</mat-icon>
        }
        @if (!bookmarkStatus.showOnlyBookmarked) {
          <mat-icon class="bookmark-icon" aria-hidden="false" aria-label="Showing all panels. Select to only show bookmarked.">star_border</mat-icon>
        }
      </button>
    }
  </mat-toolbar-row>
</mat-toolbar>
