.toolbar-spacer {
  flex: 1 1 auto;
}

.main-toolbar {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  position: sticky;
  position: -webkit-sticky;
  position: fixed;
  height: 60px;
  top: 0;
  z-index: 1000;
}
