
@if (hasSearch()) {
  <mat-toolbar class="navigation-tabbar-search">
    <mat-form-field id="searchbar">
      <!-- <mat-label color="primary">Search Panels</mat-label> -->
      <input id="matsearch" matInput [(ngModel)]="searchService.query" placeholder="Search panels" >
      @if (searchService.query) {
        <button mat-button matSuffix id="clear-search-button" (click)="clearSearch()">
          <!-- mat-icon-button <mat-icon>close</mat-icon> -->
          CLEAR
        </button>
      }
      <!-- [(ngModel)]="query"  -->
    </mat-form-field>
  </mat-toolbar>
}

<nav mat-tab-nav-bar class="navigation-tabbar" color="accent" backgroundColor="primary" mat-align-tabs="center" [tabPanel]="tabPanel">
  @if (hasSchedule) {
    <a mat-tab-link [active]="getCurrentPage() == 'schedule'" routerLink="/" queryParamsHandling="merge">Schedule</a>
  }
  @if (hasMaps) {
    <a mat-tab-link [active]="getCurrentPage() == 'map'" routerLink="/map" queryParamsHandling="merge">Map</a>
  }
  @if (hasFAQ) {
    <a mat-tab-link [active]="getCurrentPage() == 'faq'" routerLink="/faq" queryParamsHandling="merge">FAQ</a>
  }
  <a mat-tab-link [active]="getCurrentPage() == 'settings'" routerLink="/settings" queryParamsHandling="merge"><mat-icon>settings</mat-icon></a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
