.navigation-tabbar-search {
  background-color: #3f51b5;

  position: sticky;
  position: -webkit-sticky;
  height: 100px;
  bottom: calc(env(safe-area-inset-bottom) + 26px);
  z-index: 200;
}

.navigation-tabbar-search #searchbar {
  width: 100%;
  padding: 0;
}

.navigation-tabbar {
  background-color: #3f51b5;

  position: sticky;
  height: 48px;
  padding-bottom: env(safe-area-inset-bottom);
  bottom: 0;
  z-index: 1000;
  width: 100%;
}

#clear-search-button {
  margin-right: 10px;
}

@media all and (display-mode: fullscreen) {
  .navigation-tabbar {
    height: 80px;
    padding-bottom: env(safe-area-inset-bottom);
  }
}
