.spacer {
  height: 1px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

/* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version. */
mat-chip {
  margin: 4px;
  margin-right: 4px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  margin: 16px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-content {
  line-height: 1.5em;
}

h3.presenter-title {
  margin-bottom: 6px;
}

.presenters p {
  margin: 0;
}

.social {
  display: inline;
}

.social-icon {
  height: 20px;
  width: 20px;
}

[mat-raised-button], [mat-stroked-button] {
  margin: 18px;
}

.bookmarked {
  border-color:orange;
  border-width: 2px;
}
