<div class="spacer"></div>
<mat-card appearance="outlined" *ngIf="panel" class="example-card" [ngClass]="{'bookmarked': panel.isBookmarked }">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{panel.name | uppercase}}</mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="panel.location?.building">Building: {{panel.location?.building }} - </span>Room: {{panel.location?.name}}
      <br>
      <span *ngIf="useConventionTime">
        <div *ngIf="isSameDay(panel.startDate, panel.endDate); else conventionTimeDifferentDay">
          {{panel.startDate | date:'mediumDate':about.time_zone }} at {{panel.startDate | date:'shortTime':about.time_zone }} until {{panel.endDate | date:'shortTime':about.time_zone }} (local time at {{about.name}})
        </div>

        <ng-template #conventionTimeDifferentDay>
          {{panel.startDate | date:'mediumDate':about.time_zone }} at {{panel.startDate | date:'shortTime':about.time_zone }} 
          until {{panel.endDate | date:'mediumDate':about.time_zone }} at {{panel.endDate | date:'shortTime':about.time_zone }} 
          (local time at {{about.name}})
        </ng-template>
      </span>
      <span *ngIf="!useConventionTime">
        <div *ngIf="isSameDay(panel.startDate, panel.endDate); else conventionTimeDifferentDay">
          {{panel.startDate | date:'mediumDate' }} at {{panel.startDate | date:'shortTime' }} until {{panel.endDate | date:'shortTime' }} (your local time)
        </div>

        <ng-template #conventionTimeDifferentDay>
          {{panel.startDate | date:'mediumDate' }} at {{panel.startDate | date:'shortTime' }} until {{panel.endDate | date:'mediumDate' }} at {{panel.endDate | date:'shortTime' }} 
          (your local time)
        </ng-template>
      </span>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <mat-chip-option *ngIf="(panel.type) && ((panel.type | uppercase) !== 'HOURS')">{{panel.type}}</mat-chip-option>
      <mat-chip-option *ngIf="panel.maturity">{{panel.maturity}}</mat-chip-option>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{panel.description}}
    </p>
    <h3 *ngIf="panel.presenters.length > 0" class="presenter-title">Hosted by</h3>
    <div class="presenters" *ngFor="let presenter of panel.presenters">
      <h4>{{ presenter.name }}
        <span *ngIf="presenter.social">
          <span *ngFor="let social of presenter.social">
            <p class="social" *ngIf="social.type=='twitter'">
              <a  mat-button href="{{social.url}}">
                <!-- <mat-icon class="social-icon" color="black" svgIcon="twitter"></mat-icon> -->
                <img class="social-icon" src="assets/icons/twitter.svg" alt="Twitter icon">
                &#64;{{social.name}}
              </a>
            <p>
          </span>
        </span>
      </h4>
      <a *ngIf="isUrl(presenter?.description)" mat-button href="{{presenter.description}}">Website</a>
      <p *ngIf="!isUrl(presenter?.description)">{{ presenter.description }}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="panel.isBookmarked" mat-stroked-button color="secondary" (click)="toggleBookmark()">UN-BOOKMARK</button>
    <button *ngIf="!panel.isBookmarked" mat-raised-button color="accent" (click)="toggleBookmark()">BOOKMARK</button>
    <button *ngIf="supportsSharing" mat-raised-button color="accent" (click)="share()">SHARE</button>
  </mat-card-actions>
</mat-card>

<button mat-raised-button color="accent" [routerLink]="['/schedule', panel.id]" queryParamsHandling="merge">Go Back</button>
<!-- <button mat-raised-button color="accent" [routerLink]="">Go Back</button> -->
