<mat-nav-list class="faq-component">
  @for (faq of faqs | search:query; track faq) {
    <div>
      <mat-list-item class="mat-list-item" (click)="callurl(faq)">
        <h4 matListItemTitle>{{faq.name}}</h4>
        <p class="faq-description" matListItemLine>{{faq.description}}</p>
        <p matListItemMeta>
          @if (faq.url && faq.url.includes('http')) {
            <mat-icon aria-hidden="false" aria-label="This list item contains a link.">link</mat-icon>
          }
          @if (faq.url && faq.url.includes('sms')) {
            <mat-icon aria-hidden="false" aria-label="This list item contains a phone number. Send text message">message</mat-icon>
          }
        </p>
      </mat-list-item>
    </div>
  }
</mat-nav-list>
