/* Search Field */

mat-form-field {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

[matInput] {
  margin: auto;
}

/* FAQ Fields */

.faq-description {
  white-space: pre-wrap;
  tab-size: 6em;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-mdc-list-base .mat-mdc-list-item, .mat-mdc-list-base .mat-list-option {
  margin: 15px;
  width: auto;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  height: inherit;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-mdc-list-base .mat-mdc-list-item h4, .mat-mdc-list-base .mat-list-option h4 {
  line-height: 1.5em;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 10px;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-mdc-list-base .mat-mdc-list-item p, .mat-mdc-list-base .mat-list-option p {
  line-height: 1.5em;
  padding-bottom: 10px;
}

.mat-mdc-list-item {
  background-color: rgba(40,40, 40,0.9);
}

.mat-mdc-list-base .mat-mdc-subheader {
  margin-top: 10px;
  color: white;
  font-size: large;
  text-shadow: 1px 1px 2px black;
}

.mat-action-list .mat-mdc-list-item:focus,
.mat-action-list .mat-mdc-list-item:hover,
.mat-action-list .mat-list-item:visited,
.mat-list-option:focus,
.mat-list-option:hover,
.mat-list-option:visited,
.mat-nav-list .mat-list-item:focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:visited {
  background-color: rgba(40,40, 40,0.9);
}


@media (hover: hover) {
  /** only on desktop devices, otherwise ignore hover **/
  .mat-action-list .mat-mdc-list-item:focus, .mat-action-list .mat-mdc-list-item:hover, .mat-list-option:focus, .mat-list-option:hover, .mat-nav-list .mat-list-item:focus, .mat-nav-list .mat-list-item:hover {
    transition: background-color 0.5s;
    background-color: rgb(183,2,103);
  }
}

mat-icon {
  margin: 16px;
}
