@if (show) {
  <mat-card [ngStyle]="{'top.px': posY(), 'left.px': posX()}" class="context-menu">
    <mat-action-list    >
      <mat-list-item (click)="getLink()">Copy panel link</mat-list-item>
    </mat-action-list>
  </mat-card>
}
