<div class="spacer"></div>
@for (map of mapItems; track map) {
  <mat-card appearance="outlined" class="map-item">
    <mat-card-header>
      <mat-card-title>
        {{map.name}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img src="{{assetPath}}{{map.image_path}}" alt="image of {{map.name}}" />
      <span class="spacer"></span>
    </mat-card-content>
    @if (map.pdf) {
      <mat-card-actions align="end">
        <a mat-button href="{{assetPath}}{{map.pdf}}" target="_blank">View File</a>
      </mat-card-actions>
    }
  </mat-card>
}
