.spacer {
  height: 1px;
}

.map-item {
  margin: 16px;
}

img {
  top: 0;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

[mat-button] {
  margin: 18px;
  background-color: orange;
  color: white;
}
