.panels-list {
  width: 100%;
}

.background {
  background-color: black;
  top: 0;
  position: fixed;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  filter: blur(0.4em);
  z-index: -1;
}

.main-content {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  /* make sure a page is the entire viewport height */
  /* so that the toolbar is at the bottom */
  min-height: 100%;
  
  margin-top: 60px;
  padding-bottom: 140px;
  background-color: transparent;
}

.madeby, .feedback {
  color: white;
  width: 100%;
  text-align: center;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.madeby a, .feedback a {
  color: white;
  text-decoration: none; /* no underline */
}

.madeby a {
  font-weight: bold;
}
