<app-navigationbar></app-navigationbar>

<div class="main-content mat-app-background basic-container">
  <router-outlet showOnlyBookmarked="showOnlyBookmarked"></router-outlet>
  <p class="madeby">Made by <a href="https://bsky.app/profile/tirox.bsky.social">Tirox</a> for {{about?.name}}, V{{version}}</p>
  <p class="feedback"><a href="mailto:feedback@plan.tirox.dev?subject=FoxPlan%20Feedback">Feedback</a> · <a href="https://gitlab.com/sinklairstudios/fox-plan" target="_blank">Contribute</a></p>
</div>

<app-navigationtabs></app-navigationtabs>

@if (assetPath && assetPath.toLowerCase() !== 'dev' && about?.style?.background_image_name) {
  <img class="background" [src]="assetPath+about?.style?.background_image_name">
}
