// @use 'sass:map';
// @use '@angular/material' as mat;

// // @import "../../themes/foxplan.scss";

// $color-config:    mat.get-color-config($theme);
// $primary-palette: map.get($color-config, 'primary');
// $accent-palette:  map.get($color-config, 'accent');
// $warn-palette:    map.get($color-config, 'warn');
// $is-dark-theme:   map.get($color-config, 'is-dark');



[mat-button] {
  margin: 18px;
}

.install-prompt {
  background-color: white;
  color: black;
  margin: 16px;
  line-height: 1.5em;
}

.install-prompt ul, .install-prompt ol {
  margin-top: 5px;
}

.install-prompt img {
  vertical-align: bottom;
  width: 24px;
}

.add-to-home-screen {
  font-family: "Helvetica", sans-serif;
  font-weight: 200;
}

