@if (hideInstallPrompt !== 'true' && offerInstalling) {
  <mat-card appearance="outlined" class="install-prompt">
    <mat-card-header>
      <mat-card-title>
        Install this website
      </mat-card-title>
    </mat-card-header>
    @if (!installing) {
      <mat-card-content>
        You can install this website for a better experience, like:
        <ul>
          <li>use offline</li>
          <li>save bookmarks</li>
          <li>auto update</li>
        </ul>
      </mat-card-content>
    }
    @if (installing && !isAndroid) {
      <mat-card-content>
        Follow these instructions to install as an app:
        <ol>
          <li>select the share <img class="share-icon" src="assets/icons/share-ios.svg" alt="iOS share icon"> button below</li>
          <li>select <span class="add-to-home-screen">Add to Home Screen</span><img class="share-icon" src="assets/icons/add-to-home-screen.svg" alt="iOS share icon"></li>
        </ol>
      </mat-card-content>
    }
    @if (installing && isAndroid) {
      <mat-card-content>
        Follow these instructions to install as an app:
        <ol>
          <li>select the more <mat-icon aria-hidden="false" aria-label="Icon of Android vertical more button.">more_vert</mat-icon> button</li>
          <li>select <span class="add-to-home-screen">Add to Home screen</span></li>
        </ol>
      </mat-card-content>
    }
    <mat-card-actions align="end">
      @if (!installing) {
        <a mat-raised-button color="primary"  (click)="install()">Install</a>
      }
      <a mat-button mat-raised-button color="secondary" (click)="dismiss()">Dismiss</a>
    </mat-card-actions>
  </mat-card>
}
