/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Global Styles */
:root {
  .no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
  }

  /* Box Shadows for animations */
  --box-shadow-small: 0 0 2px rgba(255, 166, 0, 0.7); /* Regular box shadow */
  --box-shadow-large: 0 0 12px rgba(255, 166, 0, 0.9);

  --inset-shadow-small: inset 0px 0px 2px white; /* Inset shadow */
  --inset-shadow-large: inset 0px 0px 10px white;
}
