/* Search Field */

mat-form-field {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

[matInput] {
  margin: auto;
}

/* Panel Card */


div.header {
  background-color: black;
  position: sticky;

  top: 60px;
  z-index: 150;
  margin-top: 0;

  padding: 0 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    padding: 0;
  }
}

.panel-time {
  /* width: 110px; */
  font-size: large;
  /* color: mat-color($primary, 500); */
}

.mat-mdc-list-item-meta {
  text-align: right;
  color: white;
}

.panel-start-time {
  text-align: right;
}

.panel-end-time {
  text-align: right;
  font-size: small;
}

@keyframes glow {
  0%, 100% {
    box-shadow: var(--box-shadow-small), var(--inset-shadow-small);
  }
  50% {
    box-shadow: var(--box-shadow-large), var(--inset-shadow-large);
  }
}

@keyframes blinkText {
  50% {
    opacity: 0;
  }
}

@keyframes flicker {
  0%, 100% { opacity: 1; }
  10% { opacity: 0.3; }
  20% { opacity: 1; }
  30% { opacity: 0.5; }
  40% { opacity: 1; }
  50% { opacity: 0.7; }
  60% { opacity: 0.9; }
  70% { opacity: 0.4; }
  80% { opacity: 1; }
  90% { opacity: 0.6; }
}



.live::after {
  position: absolute;
  overflow: visible;
  right: -4px;
  transform: rotate(16deg);
  margin-right: 4px;
  border-radius: 2px;
  box-shadow: 0 0 3px white;
  font-size: 10px;
  height: 12px;
  padding: 2px 4px;
  color: white;

  /* animation: blinkText 1s infinite; */

  content: "NOW";
  background-color: purple;
}

.about-to-start::after {
  position: absolute;
  overflow: visible;
  right: -4px;
  transform: rotate(16deg);
  margin-right: 4px;
  border-radius: 2px;
  box-shadow: 0 0 3px white;
  font-size: 10px;
  height: 12px;
  padding: 2px 4px;
  color: white;

  content: "SOON";
  background-color: lightblue;
}

.live {
  border: 1px solid orange;
  animation: glow 2.4s infinite;
}

.about-to-start {
  border: 1px solid gray;
  animation: glow 2.4s infinite;
}

.past-panel {
  opacity: 0.7;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid white;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-mdc-list-base .mat-mdc-list-item, .mat-mdc-list-base .mat-list-option {
  margin: 15px;
  width: auto;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.mat-mdc-list-base .mat-mdc-list-item h4, .mat-mdc-list-base .mat-list-option h4,
.mat-list-base .mat-mdc-list-item p, .mat-list-base .mat-list-option p {
  line-height: 1.5em;
  font-weight: bold;
}

.go-to-top-link {
  margin-top: 0;
  width: 100%;
  text-align: center;

}

.go-to-top-link a {
  color: white;
  text-transform: uppercase;
}


/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list-item {
  background-color: rgba(40,40, 40,0.9);
  /* background-color: black; */
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list-item.bookmarked {
  background-color: orange;
}

.mat-mdc-list-base .mat-mdc-subheader {
  margin-top: 10px;
  color: white;
  font-size: large;
  text-shadow: 1px 1px 2px black;
  margin-left: 0;
  margin-right: 0;
}


.mat-action-list .mat-mdc-list-item:focus,
.mat-action-list .mat-mdc-list-item:hover,
.mat-action-list .mat-list-item:visited,
.mat-list-option:focus,
.mat-list-option:hover,
.mat-list-option:visited,
.mat-nav-list .mat-list-item:focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:visited {
  background-color: rgba(40,40, 40,0.9);
}


@media (hover: hover) {
  /** only on desktop devices, otherwise ignore hover **/
  .mat-action-list .mat-mdc-list-item:focus, .mat-action-list, mat-list-item:hover, .mat-list-option:focus, .mat-list-option:hover, .mat-nav-list .mat-mdc-list-item:focus, .mat-nav-list .mat-list-item:hover {
    transition: background-color 0.5s;
    background-color: rgb(183,2,103);
  }
}

.scheduleLastUpdated {
  margin: 4px 16px;
  
  text-align: center;
  font-size: xx-small;
  font-style: italic;

  opacity: 0.5;
}

/* reduce spacing around panel items */
.mat-mdc-list-base .mat-mdc-list-item, .mat-mdc-list-base .mat-list-option {
  margin: 6px;
}