<div id="panels-top"></div>

<app-install-prompt></app-install-prompt>

<mat-nav-list>
  @for (day of days; track day; let dayIndex = $index) {
    <div id="{{day}}">
      <div class="header">
        <h3 matSubheader >{{ day }}</h3>
        <div class="jump-day-buttons">
          @if (days && days.indexOf(day) > 0) {
            <button  mat-icon-button (click)="goToDay(days[dayIndex-1], true)" color="primary" aria-label="Jump to the previous day.">
              <mat-icon>arrow_upward</mat-icon>
            </button>
          }
          @if (days && days.indexOf(day) !== days.length-1) {
            <button mat-icon-button (click)="goToDay(days[dayIndex+1], true)" color="primary" aria-label="Jump to the next day.">
              <mat-icon>arrow_downward</mat-icon>
            </button>
          }
        </div>
      </div>
      @for (panel of (panelsByDay.get(day) || []) | onlyBookmarkedIfActive | search:query; track panel.id) {
        <mat-list-item
          [ngClass]="{bookmarked: panel.isBookmarked, live: isLive(panel), 'about-to-start': isAboutToStart(panel), 'past-panel': hasPassed(panel)}"
          [class.selected]="panel === selectedPanel"
          (click)="onSelect(panel)"
          [routerLink]="'/detail/'+panel.id"
          [queryParams]="{ 'convention': about.name }"
          (contextmenu)="onRightClick($event, panel)"
          (touchstart)="onTouchStart($event, panel)"
          (touchend)="onTouchEnd($event)"
          (touchmove)="closeContextMenu()"
          class="no-select"
          >
          <h4 id="{{getSanitizedId(panel.id)}}" matListItemTitle>{{panel.name}}</h4>
          @if (panel.location) {
            <p matListItemLine>@if (panel.location.building) {
              <span>{{panel.location.building}}: </span>
            }{{panel.location.name}} </p>
          }
          <p matListItemMeta class="panel-time">
            @if (useConventionTime) {
              <span>
                <span class="panel-start-time">{{panel.startDate | date:'shortTime':about.time_zone }}</span><br>
                <span class="panel-end-time">- {{panel.endDate | date: 'shortTime':about.time_zone }}</span>
              </span>
            }
            @if (!useConventionTime) {
              <span>
                <span class="panel-start-time">{{panel.startDate | date:'shortTime' }}</span><br>
                <span class="panel-end-time">- {{panel.endDate | date: 'shortTime' }}</span>
              </span>
            }
          </p>
        </mat-list-item>
      }
      <app-context-menu [show]="showContextMenu" [panel]="contextMenuPanel" (closeMenu)="closeContextMenu()" [posX]="contextMenuX" [posY]="contextMenuY"></app-context-menu>
    </div>
  }
</mat-nav-list>

<p class="go-to-top-link"><a class="nav-link" (click)="scrollToAnchoringPosition('panels-top')" href="javascript:void(0);">Go to top</a></p>
<p class="scheduleLastUpdated">Schedule modified on {{ lastUpdatedAt | date: 'medium' }}</p>  
