.settings-card {
    margin: 16px;
    margin-top: 84px;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-mdc-list-base .mat-mdc-list-item,
.mat-mdc-list-base .mat-list-option {
    margin: 15px;
    width: auto;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.mat-mdc-list-base .mat-mdc-list-item h4,
.mat-mdc-list-base .mat-list-option h4,
.mat-list-base .mat-mdc-list-item p,
.mat-list-base .mat-list-option p {
    line-height: 1.5em;
    font-weight: bold;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list-item {
    background-color: rgba(40, 40, 40, 0.9);
    /* background-color: black; */
}


.mat-action-list .mat-mdc-list-item:focus,
.mat-action-list .mat-mdc-list-item:hover,
.mat-action-list .mat-list-item:visited,
.mat-list-option:focus,
.mat-list-option:hover,
.mat-list-option:visited,
.mat-nav-list .mat-list-item:focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:visited {
    background-color: rgba(40, 40, 40, 0.9);
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list-item.active-convention {
    background-color: orange;
}


@media (hover: hover) {

    /** only on desktop devices, otherwise ignore hover **/
    .mat-action-list .mat-mdc-list-item:focus,
    .mat-action-list,
    mat-list-item:hover,
    .mat-list-option:focus,
    .mat-list-option:hover,
    .mat-nav-list .mat-mdc-list-item:focus,
    .mat-nav-list .mat-list-item:hover {
        transition: background-color 0.5s;
        background-color: rgb(183, 2, 103);
    }
}


.settings-button {
  margin: 8px auto;
  width: 100%;
}
