<mat-card appearance="outlined" class="settings-card">
  <mat-card-header>
    <mat-card-title>Settings</mat-card-title>
    <mat-card-subtitle>Change which convention schedule you want to see.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>
      @for (convention of conventions; track convention) {
        <mat-list-item
          (click)="onSelect(convention.name)"
          [ngClass]="{ 'active-convention': (convention.path === currentConvention) }"
          >
          <p matListItemTitle>{{convention.name}}</p>
        </mat-list-item>
      }
    </mat-nav-list>
  </mat-card-content>
  <mat-card-header>
    <mat-card-title>Debugging</mat-card-title>
    <mat-card-subtitle>Should foxplan not be behaving as expected. This will not delete any bookmarks.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <button class="settings-button" mat-flat-button color="primary" (click)="forceReload()">Reload foxplan</button>
  </mat-card-content>
</mat-card>
